* {
    margin: 0;
}

.div1 {
    width: 100%;
    height: 900px;
    background-image: url(./38315c7e9c01e5a7294e7b1cbebc53a59a7d48e8\ \(1\).jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100%;
}

.img1 {
    margin-left: 100px;
    padding: 20px;
}

.div2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    bottom: 50px;

}

.div2,
p {

    font-weight: 00;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FDFDFD;
}

.button1 {

    width: 137px;
    height: 44px;
    opacity: 1;
    gap: 10px;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: #1A3E3E;
    position: relative;
    bottom: 10px;
    border: 0;
    color: white;
}

.div3 {}

.text1 {
    width: 1080px;
    height: 150px;
    opacity: 1;
    font-family: NEXT ART;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FDFDFD;
    position: relative;
    top: 200px;
    left: 110px;
}

.div3 {
    width: 1180px;
    height: 161px;
    opacity: 1;
    background: #FFFFFF33;
    position: relative;
    top: 250px;
    left: 110px;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.card1 {
    width: 240px;
    height: 52px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    border: 1px solid #E1E3E4;

}

.img2 {
    position: relative;
    left: 80px;
}

.div4 {
    display: flex;
}

.button2 {
    width: 213px;
    height: 52px;
    opacity: 1;
    border-radius: 4px;
    padding-top: 16px;
    padding-right: 36px;
    padding-bottom: 16px;
    padding-left: 36px;
    border: 0;
    position: relative;
    left: 1100px;
    top: 69px;
}

.p1 {
    position: relative;
    top: 10px;
}

.img3 {
    width: 20px;
    position: relative;
    left: 80px;
}

.icon {
    display: none;
}
@media(max-width: 510px) {
        .div1 {
            width: 91%;
            height: 500px;
            background-size: cover;
            padding: 20px;
        }

        .jjhj {
            position: relative;
            top: 50px;
        }

        .pppp {
            position: relative;
            top: 20px;
        }

        .lll {
            position: relative;
            top: 30px;
            gap: 10px;
        }

        .img1 {
            margin-left: 0;
            width: 120px;
            margin-left: -20px;
            margin-top: -20px;
        }

        .div2 {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            bottom: 0;
        }

        .button1 {
            display: none;
        }

        .text1 {
            width: 345px;
            height: 168px;
            font-size: 28px;
            line-height: 130%;
            top: 50px;
            left: 0;
            text-align: start;
            position: relative;
            top: 170px;
        }

        .div3 {
            display: none;
        }

        .card1 {
            display: none;
        }

        .img2,
        .img3 {
            left: 0;
            float: right;
        }

        .p1 {
            top: 5px;
            text-align: center;
        }

        .button2 {
            margin-left: -1100px;
            top: 150px;

        }

        .icon {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 54px;
            color: white;
        }

        .div2 p {
            display: none;
        }

        .container1 {
            flex-direction: column;
            gap: 20px;
        }
